@import '../../../../node_modules/bulma/bulma.sass';

slot[name=job-description]::slotted(*) {
  background-color: lightcyan;
  padding: 20px;
  margin: 0;
}

slot[name=explanation]::slotted(*) {
  width: auto;
  padding: 20px;
  margin: 0;
}

slot[name=exercise]::slotted(*) {
  margin-top: 5pt;
  width: 100%;
}

.feedback-image {
  height: auto;
  width: auto;
  max-height: 100pt;
}

.feedback-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10pt;

  * {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .feedback-row {
    flex-direction: column;
  }
}

