@import '../../../../node_modules/bulma/bulma.sass';

:host {
  display: flex;
  flex-direction: column;
  align-items: start;
}

slot[name=job-description]::slotted(*) {
  padding: 20px;
  margin: 0;
}

slot[name=explanation]::slotted(*) {
  width: auto;
  padding: 20px;
  margin: 0;
}

slot[name=exercise]::slotted(*) {
  margin-top: 5pt;
  width: 100%;
}

.feedback-image {
  height: auto;
  width: auto;
  max-height: 100pt;
}

@media only screen and (max-width: 600px) {
  .feedback-row {
    flex-direction: column;
  }
}

.margin-auto {
  margin: auto;
}
