@import '../../../../node_modules/bulma/bulma.sass';

:host {
  display: block;
}

.center {
  margin: auto
}

.is-flex {
  align-items: center;
}

slot[name=prompt]::slotted(*) {
  text-align: center;
}

.number-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
